name: Build

on: [push]

jobs:
  build:
    name: 'Build and Test project'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-11, windows-latest]
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: 'Clone Repo'
        uses: actions/checkout@v1

      - name: 'Install dependencies'
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib g++-multilib
        if: matrix.os == 'ubuntu-latest'

      - name: 'Download Olm'
        run: |
          curl -o olm-3.2.2.tar.bz2 https://gitlab.matrix.org/matrix-org/olm/-/archive/3.2.2/olm-3.2.2.tar.bz2
          tar -xvf olm-3.2.2.tar.bz2
        shell: bash

      - name: 'Build and install Olm (Unix)'
        run: |
          cd olm-3.2.2
          cmake .
          make
          sudo make install
          cd ..
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-11'

      - name: 'Build and install Olm (Windows)'
        run: |
          cd olm-3.2.2
          cmake -S . -B build -G "Visual Studio 17 2022" -A x64
          cmake --build build
        if: matrix.os == 'windows-latest'

      - name: 'Build'
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: 'build --stacktrace'
        env:
          OLM_PATH: ${{ format('{0}\olm-3.2.2\build\Debug', github.workspace) }}

      - name: 'Publish'
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: 'smartPublish --stacktrace'
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_USER: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
